<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['cv']" routerLinkActive="active">CvTech</a>
  <button class="navbar-toggler" (click)="showNavbar()" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{'show':showNav}" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['cv']"
           routerLinkActive="active"
        >CV</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['todo']" routerLinkActive="active" >TODO</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['login']" routerLinkActive="active">Login</a>
      </li>
    </ul>
  </div>
</nav>
