<div class="row">
<div class="col-md-6 col-lg-6">
  <ol class="list-group">
    <li *ngFor="let todo of todos" class="list-group-item">
      {{todo.title}} : {{todo.description}}
      <i class="fa fa-trash" aria-hidden="true" (click)="deleteTodo(todo)"></i>
    </li>
  </ol>
</div>
  <div class="col-md-6 col-lg-6">
    <input type="text" class="form-control" [(ngModel)]="title">
    <input type="text" class="form-control" [(ngModel)]="description">
    <button class="btn btn-primary"
    (click)="addTodo()"
    [disabled]="!title.length || ! description.length"
    >Add Todo</button>
  </div>
</div>
